.post{
    width: 300px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    animation: slide-in 1s ease forwards;
}
@keyframes slide-in {
    0%{transform: translateX(-200px); opacity: 0;}
    100%{transform: translateX(0px); opacity: 1;}
}
.slideOut{
    animation: slide-out 0.8s ease forwards;
}
@keyframes slide-out {
    0%{transform: translateX(0px); opacity: 1;}
    100%{transform: translateX(300px); opacity: 0;}
}
.image{
    height: 200px;
    width: 100%;
    border-radius: 10px;
    background-color: #f0f0f0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    font-size: 19px;
    font-weight: 500;
    color: #000;
    margin: 0;
    padding: 8px 0;
}
.userSection{
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    cursor: pointer;
}
.userImage{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #f0f0f0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.userDetails{
    height: 100%;
    width: 100%;
}
.userName{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.userName p{
    margin: 0;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    padding-right: 5px;
}
.userProfession{
    font-size: 16px;
    margin: 0;
    opacity: 0.6;
}
.bottom{
    width: 100%;
    /* border: 1px solid #000; */
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.viewButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}
.viewButton p{
    margin: 0;
    font-size: 17px;
    color: #008ac0;
    position: relative;
    top: -2px;
}
.favourite{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    display: grid;
    justify-self: end;
    align-items: center;
    justify-content: center;
    color: rgb(75, 75, 75);
}
.favourite:hover{
    background-color: #f0f0f0;
}

.SearchContainer{
    height: fit-content;
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 70px;
    box-sizing: border-box;
}
.SearchBar{
    height: 40px;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 7px;
    border: 1px solid #dfdfdf;
    font-size: 17px;
    padding-left: 10px;
}
.SearchBar:focus{
    outline: none;
    border: 1px solid #008ac0;
}