.button{
    height: 45px;
    width: 180px;
    background-color: #F79D6E;
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main p{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 5px;
    color: #fff;
}