.section{
    height: calc(100vh - 50px);
    width: 100vw;
    padding: 20px 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 300px 1fr;
    font-family: 'Barlow Condensed', sans-serif;
}
.section .container{
    height: 100%;
    width: 100%;
}