.section{
    height: calc(100vh - 50px);
    width: 100vw;
    /* padding: 20px 20px; */
    padding-left: 20px;
    padding-bottom: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 2rem;
    font-family: 'Barlow Condensed', sans-serif;
}
.section .container{
    height: 100%;
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 50px;
    padding-right: 20px;
}