.image{
    height: 300px;
    width: 100%;
    background-color: rgb(53, 53, 53);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container h4{
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    margin: 0;
    padding: 10px 0;
}
.container p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    opacity: 0.7;
    margin: 0;
    cursor: pointer;
}