.Intro{
    height: 400px;
    width: 100vw;
    padding: 20px 20px;
}
.Intro1{
    height: 100%;
    width: 100%;
    border: 1px solid palegreen;
    overflow: hidden;
    display: grid;
    grid-template-columns: 450px 1fr;
}
.mainIntro{
    height: 100%;
    width: 100%;
    border: 1px solid palegreen;
}
.mainIntro h1{
    font-size: 70px;
    color: #fff;
    margin: 0;
    font-weight: 400;
}
.mainIntro p{
    color: #fff;
    opacity: 0.7;
    font-size: 25px;
    font-weight: 25px;
}