.Logo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: fit-content;
    cursor: pointer;
}
.Logo p{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin: 0;
}
.Logo p span{
    color: #00acee;
}
.dot{
    background-color: #E3AA92;
    height: 7px;
    width: 7px;
    border-radius: 2px;
    margin-left: 5px;
}