.container{
    height: 40px;
    width: 100%;
    background-color: #272727;
    border: 1px solid #272727;
    display: grid;
    grid-template-columns: 50px 1fr;
}
.container:hover{
    background-color: #333333;
}