.container{
    height: 35px;
    width: 100%;
    background-color: #272727;
    border: 1px solid #272727;
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    column-gap: 10px;
    padding: 0 10px;
    color: #ffffff9c;
    cursor: pointer;
}
.container:hover{
    background-color: #333333;
}

.container p{ 
    margin: 0;
    font-size: 18px;
}