@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat&display=swap');

.Intro{
    height: 500px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 15px;
    box-sizing: border-box;
}
.grid1, .grid2{
    height: 100%;
    width: 100%;
    /* border: 1px solid #000; */
}
.grid1 h1{
    margin: 0;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}
.grid1 p{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.65;
    padding-bottom: 25px;
}
.grid1 div{
    height: 40px;
    width: 160px;
    background-color: #fff;
    color: #00acee;
    font-size: 17px;
    font-weight: 500;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    border: 1px solid #00acee;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.grid1 div:hover{
    background: linear-gradient(270deg, #00ACEE 0%, #A2E1FA 101.89%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}
.canva{
    height: 500px;
    width: 100%;
}
