.container{
    height: fit-content;
    width: 100%;
    overflow: hidden;
}
.containerBackground{
    height: 100px;
    width: 100%;
    background-color: #F79D6E;
}
.main{
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 13px;
}
.image{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: palegreen;
    position: relative;
    top: -30px;
    font-size: 40px;
    color: #000;
    display: grid;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mainSection p{
    margin: 0;
    color: #fff;
}
.username{
    font-size: 25px;
    font-weight: bold;
    padding-top: 5px;
}
.email{
    font-size: 20px;
    opacity: 0.8;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}